.button {
  width: 40px;
  height: 40px;

  cursor: pointer;
  transition: all 0.2s;

  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.primary {
  background: var(--primary);
}

.primary svg * {
  fill: var(--white);
}

.primary:hover {
  background: var(--white);
}

.primary:hover svg * {
  fill: var(--primary);
}

.white {
  background: var(--white);
}

.primary.white svg * {
  fill: var(--primary);
}

.white:hover {
  background: var(--primary);
}

.white:hover svg * {
  fill: var(--white);
}
