.star svg {
  margin-right: 5px;
}

.filled svg {
  fill: var(--primary);
}

.editable {
  cursor: pointer;
}

.errorMes {
  color: var(--red);
  position: absolute;
  left: 0;
  bottom: -20px;
}

.wrapper {
  position: relative;
}

.error svg {
  stroke: var(--red);
}
