.menu {
}

.firstLevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
  fill: var(--primary);
}

.secondBlock {
  border-left: 1px solid #dfdfdf;
  padding-left: 32px;
  padding-bottom: 7px;
  margin-left: 12px;
  margin-bottom: 24px;

  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.secondLevel {
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--grey-dark);
  padding: 5px 0;
}
.secondLevelBlock {
  display: none;
}
.secondLevelBlockOpened {
  display: block;
}

.secondLevelBlock:last-child {
  margin-bottom: 20px;
}

.thirdLevel {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
  color: var(--grey-dark);
  display: block;
}

.thirdLevel:hover,
.thirdLevelActive {
  color: var(--primary);
}
