.sortIcon {
  display: none;
  margin-right: 10px;
}

.active {
  color: var(--primary);
  font-weight: bold;
}

.active .sortIcon {
  display: inline;
}

.sortBtn {
  border: none;
  background: none;
}

.sortBtn:not(:last-child) {
  margin-right: 40px;
}

.sortName {
  display: none;
}
