.form {
  font-size: 14px;
  line-height: 24px;
  display: grid;
  grid-template-columns: [start] auto 1fr auto [end];
  gap: 20px 30px;
  align-items: center;
}

.title {
  justify-self: left;
}

.textarea {
  grid-column: start / end;
}

.submit {
  grid-column: start / end;
}

.button {
  margin-right: 15px;
}

.rating {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}
.messagePanel {
  padding: 30px;
  position: relative;
  border-radius: 5px;
  margin-top: 20px;
}

.success {
  background: var(--green-light);
  color: var(--green);
}

.success p {
  margin: 0;
}

.successTitle {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}
.buttonClose {
  background: none;
  border: none;

  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.error {
  background: var(--red-light);
  color: var(--red);
}

.error .buttonClose path {
  stroke: var(--red);
}

@media screen and (max-width: 1100px) {
  .form {
    grid-template-columns: [start] 1fr 1fr [end];
  }

  .title {
    justify-self: normal;
  }

  .rating {
    grid-column: start/ end;
  }
}

@media screen and (max-width: 640px) {
  .form {
    grid-template-columns: [start] 1fr [end];
  }
}
