@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);

  font-family: var(--font-family);
  background: #f5f6f8;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

.visualHidden {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

:root {
  --black: #3b434e;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #987ffc;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --grey: #a4a4a4;
  --grey-dark: #787d85;
  --grey-light: #ebebeb;
  --red: #fc836d;
  --red-light: #f7b8ad;
  --font-family: "Noto Sans", sans-serif;
}
