@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);

  font-family: var(--font-family);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --white: white;
  --primary: #7653fc;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --grey-dark: #787d85;
  --grey-light: #ebebeb;
  --red: #fc836d;
  --font-family: "Noto Sans", sans-serif;
}
